.header {
    display: flex;
    flex-direction: column;
    &-top {
        display: flex;
        justify-content: space-between;
        background: #EFF0F1;
        &__item {
            display: flex;
            margin: 15px 0;
            cursor: pointer;
            & div {
                display: flex;
                &:first-child {
                    margin-right: 100px;
                }
                & a {
                    text-decoration: none;
                }
            }
            & p {
                margin-left: 10px;
                @include text(normal, 14px, 17px, #676767);
                &:hover {
                    color: #1b1b1b;
                }
            }
        }
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        & a {
            text-decoration: none;
        }
        &__item {
            display: flex;
            @include text(245px, 50px, 61px, #2B2A2A);
            align-items: center;
            margin: 10px 0 20px 0;
            &--blue {
                color: #3C39D0;
            }
        }
        &__wrap {
            display: flex;
            align-items: center;
            & h2 {
                @include text(bold, 16px, 20px, #2B2A2A);
                margin-left: 10px;
                &:hover {
                    color: #6b6a6a;
                }
            }
        }
    }
    & hr {
        border: 1px solid #DDDDDD;
    }
}

.cart {
    display: flex;
    position: relative;
    margin-right: 350px;
    &-btn {
        border: none;
        cursor: pointer;
        outline: none;
        background-repeat: no-repeat;
        background-color: transparent;
        & svg {
            fill: #4945FF;
        }
        &:hover svg {
            fill: red;
        }
    }
    &-block {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
        border-radius: 5px;
        box-sizing: border-box;
        left: -35px;
        top: 130%;
        position: absolute;
        background-color: white;
        padding: 20px;
        color: black;
        width: 400px;
        @include text(normal, 16px, 20px, #2B2A2A);
        &:before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -10px;
            left: 35px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgb(59, 82, 211);
        }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.right-block {
    text-align: right;
}

.product {
    color: #252424;
    font-size: 0.5em;
    &-bio {
        display: flex;
        & img {
            align-self: flex-start;
            margin-right: 15px;
        }
    }
    &-single-price {
        color: #252424;
        font-size: 0.5em;
    }
    &-quantity {
        margin-top: 15px;
        font-size: 0.7em;
    }
}