* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

section {
  padding: 0 calc(50vw - 785px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #EFF0F1;
}

.header-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  cursor: pointer;
}

.header-top__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__item div:first-child {
  margin-right: 100px;
}

.header-top__item div a {
  text-decoration: none;
}

.header-top__item p {
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #676767;
}

.header-top__item p:hover {
  color: #1b1b1b;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom a {
  text-decoration: none;
}

.header-bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 245px;
  font-size: 50px;
  line-height: 61px;
  color: #2B2A2A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 20px 0;
}

.header-bottom__item--blue {
  color: #3C39D0;
}

.header-bottom__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__wrap h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
  margin-left: 10px;
}

.header-bottom__wrap h2:hover {
  color: #6b6a6a;
}

.header hr {
  border: 1px solid #DDDDDD;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 350px;
}

.cart-btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-repeat: no-repeat;
  background-color: transparent;
}

.cart-btn svg {
  fill: #4945FF;
}

.cart-btn:hover svg {
  fill: red;
}

.cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -35px;
  top: 130%;
  position: absolute;
  background-color: white;
  padding: 20px;
  color: black;
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
}

.cart-block:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 35px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3b52d3;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item:not(:last-child) {
  margin-bottom: 20px;
}

.right-block {
  text-align: right;
}

.product {
  color: #252424;
  font-size: 0.5em;
}

.product-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-bio img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 15px;
}

.product-single-price {
  color: #252424;
  font-size: 0.5em;
}

.product-quantity {
  margin-top: 15px;
  font-size: 0.7em;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-left__header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 50px;
  color: #2B2A2A;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.intro-left__header h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #343434;
  margin-bottom: 45px;
}

.intro-left__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 720px;
}

.intro-left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
}

.intro-left__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.intro-left__item div:first-child {
  margin-right: 10px;
}

.intro-left__item div h4 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #2B2A2A;
}

.intro-left__item div p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.intro-left a {
  max-width: 218px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 25px 34px;
  background: -webkit-gradient(linear, left top, left bottom, from(#716FFF), to(#4945FF));
  background: linear-gradient(180deg, #716FFF 0%, #4945FF 100%);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 50px 0;
}

.intro-left a:hover {
  background: #FFFFFF;
  color: #4945FF;
  border: 2px solid #4945FF;
}

.fa-cogs {
  color: #4945FF;
}

.catalog {
  background-color: #E5E5E5;
  padding-top: 70px;
  padding-bottom: 75px;
}

.catalog h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #2B2A2A;
  text-transform: capitalize;
  margin-left: 20px;
}

.catalog__item {
  margin-top: 50px;
}

.search-form {
  position: relative;
  margin-right: 50px;
  display: inline-block;
}

.search-field {
  margin-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  color: #252424;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #252424;
}

.search-field:focus {
  outline: none;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: #252424;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.error-msg {
  padding: 30px 20px;
  background-color: red;
  color: white;
  position: relative;
}

.error-block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-btn {
  font-size: 1.5em;
  top: -40px;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: #ee1212;
  font-weight: bold;
}

.invisible {
  display: none;
}

.buy-btn,
.del-btn {
  margin-top: 5px;
  background-color: #4945FF;
  padding: 10px 15px;
  border: 1px solid transparent;
  color: #fafafa;
  border-radius: 5px;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.buy-btn:hover,
.del-btn:hover {
  background-color: #fafafa;
  color: #4945FF;
  border: 1px solid #4945FF;
}

.product-price {
  margin-left: 30px;
}

.product-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products {
  -webkit-column-gap: 30px;
          column-gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 40px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 13px 15px 19px 12px rgba(34, 60, 80, 0.25);
          box-shadow: 13px 15px 19px 12px rgba(34, 60, 80, 0.25);
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.desc {
  border: 1px solid #c0c0c040;
  padding: 15px;
}

.desc h3 {
  margin: 10px 0;
}

.desc p {
  margin: 10px 0;
}

.desc a {
  text-decoration: none;
  cursor: pointer;
}

.card__item {
  max-height: 200px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card__item:hover .card__overlay {
  opacity: 1;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(99, 93, 93, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.advantage {
  background-color: #F7F7F8;
  padding-top: 70px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #2B2A2A;
  text-transform: capitalize;
  text-align: center;
  max-width: 653px;
  margin-bottom: 20px;
}

.advantage-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[4];
      grid-template-columns: repeat(4, 370px);
  grid-gap: 30px;
}

.advantage hr {
  position: absolute;
  border: 2px solid rgba(73, 69, 255, 0.6);
  width: 1110px;
  margin-top: 150px;
  margin-left: 260px;
  z-index: 1;
}

.advantage__item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4945FF;
  margin-bottom: 10px;
}

.advantage__item--grey {
  background-color: #E5E5E5;
  padding: 30px 30px 20px 30px;
  height: 200px;
  border-radius: 0px 40px;
  z-index: 5;
  position: relative;
}

.advantage__item--grey h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}

.advantage__item--grey p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

footer {
  background-color: #E5E5E5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
  margin-bottom: 20px;
}

.contact__item {
  width: 420px;
}

.contact__item h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2B2A2A;
  margin-bottom: 10px;
  padding-left: 20px;
}

.contact__item p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #676767;
  padding-left: 20px;
}

.contact__item p:not(:last-child) {
  margin-bottom: 20px;
}

.place {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C4.89838 0 2.375 2.52338 2.375 5.625C2.375 6.67294 2.66528 7.69563 3.21466 8.58288L7.67981 15.7784C7.76534 15.9163 7.91603 16 8.07809 16C8.07934 16 8.08056 16 8.08181 16C8.24528 15.9987 8.39628 15.9124 8.48025 15.7721L12.8316 8.50688C13.3507 7.63838 13.625 6.64184 13.625 5.625C13.625 2.52338 11.1016 0 8 0ZM12.0271 8.02556L8.071 14.6308L4.01147 8.08894C3.55419 7.35044 3.30625 6.49844 3.30625 5.625C3.30625 3.04031 5.41531 0.93125 8 0.93125C10.5847 0.93125 12.6906 3.04031 12.6906 5.625C12.6906 6.47253 12.459 7.30275 12.0271 8.02556Z' fill='%23676767'/%3E%3Cpath d='M8 2.8125C6.44919 2.8125 5.1875 4.07419 5.1875 5.625C5.1875 7.16591 6.42866 8.4375 8 8.4375C9.59072 8.4375 10.8125 7.14897 10.8125 5.625C10.8125 4.07419 9.55081 2.8125 8 2.8125ZM8 7.50625C6.96072 7.50625 6.11875 6.66147 6.11875 5.625C6.11875 4.59113 6.96613 3.74375 8 3.74375C9.03387 3.74375 9.87813 4.59113 9.87813 5.625C9.87813 6.64634 9.05575 7.50625 8 7.50625Z' fill='%23676767'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: left;
}

.teleph {
  background-repeat: no-repeat;
  background-position-x: left;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60484:59)'%3E%3Cpath d='M11.4996 16C10.9831 16 10.471 15.9087 9.97022 15.7268C7.76413 14.9254 5.7164 13.6201 4.04834 11.9521C2.38028 10.284 1.07503 8.23629 0.273652 6.03019C0.0161317 5.32122 -0.0598652 4.58937 0.0478491 3.8549C0.148751 3.16693 0.41524 2.49905 0.818536 1.92345C1.22361 1.34532 1.76365 0.864465 2.38025 0.532884C3.03779 0.179305 3.75548 0 4.51345 0C4.74919 0 4.95293 0.164712 5.00233 0.395203L5.78711 4.05752C5.82264 4.22336 5.77168 4.39591 5.65178 4.51585L4.3108 5.85679C5.57581 8.37188 7.62848 10.4245 10.1436 11.6896L11.4845 10.3486C11.6044 10.2287 11.777 10.1778 11.9428 10.2132L15.6051 10.998C15.8357 11.0474 16.0004 11.2512 16.0004 11.4869C16.0004 12.2449 15.821 12.9626 15.4674 13.6201C15.1359 14.2367 14.655 14.7768 14.0769 15.1818C13.5013 15.5851 12.8334 15.8516 12.1454 15.9525C11.9298 15.9842 11.7143 16 11.4996 16ZM4.11396 1.02183C3.11416 1.1322 2.22676 1.65624 1.63747 2.4973C0.974811 3.44305 0.820286 4.60628 1.21352 5.6888C2.75421 9.93006 6.07035 13.2462 10.3116 14.7869C11.3941 15.1801 12.5573 15.0256 13.5031 14.3629C14.3442 13.7737 14.8682 12.8863 14.9786 11.8864L11.9993 11.248L10.5989 12.6485C10.4498 12.7975 10.2234 12.8371 10.0327 12.7475C7.05816 11.35 4.65038 8.94226 3.25294 5.96769C3.16335 5.77698 3.20291 5.55055 3.35193 5.40156L4.75237 4.00112L4.11396 1.02183Z' fill='%23676767'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60484:59'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.mail {
  background-repeat: no-repeat;
  background-position-x: left;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6816 0.787109H1.31836C0.592324 0.787109 0 1.37879 0 2.10547V10.8945C0 11.6187 0.589688 12.2129 1.31836 12.2129H13.6816C14.4059 12.2129 15 11.6232 15 10.8945V2.10547C15 1.38125 14.4103 0.787109 13.6816 0.787109ZM13.4996 1.66602L7.52795 7.63769L1.50466 1.66602H13.4996ZM0.878906 10.7125V2.28327L5.11169 6.47976L0.878906 10.7125ZM1.50038 11.334L5.73583 7.09854L7.21992 8.56988C7.39172 8.74022 7.66895 8.73966 7.84005 8.56853L9.28711 7.12148L13.4996 11.334H1.50038ZM14.1211 10.7125L9.90858 6.5L14.1211 2.28746V10.7125Z' fill='%23676767'/%3E%3C/svg%3E");
}

.about {
  width: 670px;
}

.about h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #2B2A2A;
  margin-bottom: 20px;
}

.about h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2B2A2A;
  margin-bottom: 30px;
}

.about__item h5 {
  padding-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2B2A2A;
  margin-bottom: 7px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.88599 7.70728C8.94482 7.70728 9.86157 7.32751 10.6108 6.57825C11.3599 5.8291 11.7397 4.91248 11.7397 3.85352C11.7397 2.79492 11.36 1.87817 10.6107 1.12878C9.86145 0.379761 8.9447 0 7.88599 0C6.82703 0 5.9104 0.379761 5.16125 1.12891C4.41211 1.87805 4.03223 2.7948 4.03223 3.85352C4.03223 4.91248 4.41211 5.82922 5.16125 6.57837C5.91064 7.32739 6.82739 7.70728 7.88599 7.70728ZM5.82434 1.79187C6.39917 1.21704 7.07349 0.937622 7.88599 0.937622C8.69836 0.937622 9.3728 1.21704 9.94775 1.79187C10.5226 2.36682 10.8021 3.04126 10.8021 3.85352C10.8021 4.66602 10.5226 5.34033 9.94775 5.91528C9.3728 6.49023 8.69836 6.76965 7.88599 6.76965C7.07373 6.76965 6.39941 6.49011 5.82434 5.91528C5.24939 5.34045 4.96985 4.66602 4.96985 3.85352C4.96985 3.04126 5.24939 2.36682 5.82434 1.79187Z' fill='%23676767'/%3E%3Cpath d='M14.629 12.3031C14.6074 11.9913 14.5637 11.6512 14.4994 11.2921C14.4344 10.9303 14.3508 10.5883 14.2507 10.2756C14.1472 9.95251 14.0067 9.63342 13.8328 9.32764C13.6525 9.01025 13.4406 8.73389 13.2028 8.50647C12.9541 8.26855 12.6497 8.07727 12.2976 7.93774C11.9468 7.79895 11.558 7.72864 11.1421 7.72864C10.9788 7.72864 10.8208 7.79565 10.5157 7.99426C10.328 8.1167 10.1084 8.2583 9.86328 8.41492C9.65369 8.54846 9.36975 8.67358 9.01904 8.78687C8.67688 8.89758 8.32947 8.95374 7.98645 8.95374C7.64368 8.95374 7.29626 8.89758 6.95386 8.78687C6.60352 8.67371 6.31946 8.54858 6.11023 8.41504C5.86743 8.25989 5.64771 8.11829 5.45715 7.99414C5.15234 7.79553 4.99438 7.72852 4.83105 7.72852C4.41504 7.72852 4.02637 7.79895 3.67566 7.93787C3.32385 8.07715 3.01929 8.26843 2.77039 8.50659C2.53259 8.73413 2.32068 9.01038 2.1405 9.32764C1.9668 9.63342 1.82617 9.95239 1.72266 10.2758C1.62268 10.5884 1.53906 10.9303 1.47412 11.2921C1.40967 11.6508 1.36609 11.991 1.34448 12.3035C1.32324 12.609 1.3125 12.927 1.3125 13.2483C1.3125 14.0835 1.578 14.7596 2.10156 15.2583C2.61865 15.7504 3.30273 15.9999 4.13489 15.9999H11.839C12.6709 15.9999 13.355 15.7504 13.8722 15.2583C14.3959 14.76 14.6614 14.0836 14.6614 13.2482C14.6613 12.9258 14.6504 12.6078 14.629 12.3031ZM13.2257 14.579C12.884 14.9042 12.4304 15.0623 11.8389 15.0623H4.13489C3.54321 15.0623 3.0896 14.9042 2.74805 14.5791C2.41296 14.2601 2.25012 13.8247 2.25012 13.2483C2.25012 12.9485 2.26001 12.6525 2.27979 12.3683C2.29907 12.0895 2.3385 11.7832 2.39697 11.4578C2.45471 11.1364 2.5282 10.8347 2.6156 10.5616C2.69946 10.2998 2.81384 10.0405 2.95569 9.79077C3.09106 9.55273 3.24683 9.34851 3.4187 9.18396C3.57947 9.03003 3.7821 8.90405 4.02087 8.80957C4.2417 8.72217 4.48987 8.67432 4.75928 8.66711C4.79211 8.68457 4.85059 8.7179 4.94531 8.77966C5.13806 8.90527 5.36023 9.04858 5.60583 9.20544C5.88269 9.38196 6.23938 9.54138 6.66553 9.67896C7.1012 9.81982 7.54553 9.89136 7.98657 9.89136C8.42761 9.89136 8.87207 9.81982 9.3075 9.67908C9.73401 9.54126 10.0906 9.38196 10.3678 9.2052C10.6191 9.04456 10.8351 8.9054 11.0278 8.77966C11.1226 8.71802 11.181 8.68457 11.2139 8.66711C11.4834 8.67432 11.7316 8.72217 11.9525 8.80957C12.1912 8.90405 12.3938 9.03015 12.5546 9.18396C12.7264 9.34839 12.8822 9.55261 13.0176 9.79089C13.1595 10.0405 13.274 10.2999 13.3578 10.5615C13.4453 10.835 13.5189 11.1365 13.5765 11.4576C13.6349 11.7837 13.6744 12.0901 13.6937 12.3684V12.3687C13.7136 12.6517 13.7236 12.9476 13.7238 13.2483C13.7236 13.8248 13.5608 14.2601 13.2257 14.579Z' fill='%23676767'/%3E%3C/svg%3E");
}

.about__item p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #676767;
  padding-left: 20px;
}
/*# sourceMappingURL=style.css.map */